__pycache__/dataset.cpython-311.pyc
crispAI/crispAI_score/__pycache__/_negative_binomial.cpython-311.pyc
crispAI/crispAI_score/__pycache__/annotate_pi.cpython-311.pyc
crispAI/crispAI_score/__pycache__/model.cpython-311.pyc
txt/preliminary/._wordcount_selection.tex
txt/proposal/._wordcount_selection.tex
data/pridict-90k.csv
data/crispai-90k-long.csv
txt/preliminary/preliminary.pdf
